* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background-color: rgb(74, 78, 94);
  color: white;
}

.grid-container {
  min-width: 450px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 600px;
}

.calc-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  grid-column: span 1;
  border: 1px solid rgb(74, 78, 94);
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  color: black;
}

.calc-op {
  background-color: orange;
  color: black;
}

.calc-screen {
  background-color: grey;
  justify-content: flex-end;
  color: white;
  grid-column: span 4;
}

.calc-0 {
  grid-column: span 2;
}

.loading-quote,
.error-on-fetch {
  font-size: 20px;
  font-weight: 500;
}

.quote {
  font-size: 25px;
  width: 50%;
  font-weight: 500;
}

.author {
  font-weight: 600;
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  place-content: center;
  padding: 0 150px;
  margin-top: 40px;
}

.home-container {
  flex-direction: column;
  gap: 30px;
  margin-bottom: auto;
}

.calc-container {
  justify-content: space-around;
}

.section-title {
  font-size: 40px;
}

.section-description {
  font-size: 18px;
}

.quote-container {
  margin-bottom: auto;
}
